#news-events-date {
	width: 100%;
}

#design-cpt .meta-row {
	display: block;
	margin-bottom: 20px;
}

#design-cpt .meta-th {
	font-weight: bold;
	margin-bottom: 10px;
}

#design-cpt textarea {
	width: 100%;
}