#news-events-date,
.form-control {
	width: 100%;
}

#design-cpt .meta-row {
	display: block;
	margin-bottom: 20px;
}

#design-cpt .meta-th {
	font-weight: bold;
	margin-bottom: 10px;
}

#design-cpt textarea {
	width: 100%;
}

#team-cpt,
#register-cpt {
	padding-top: 30px;
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#team-cpt .meta-row,
#register-cpt .meta-row {
	display: block;
	margin-bottom: 40px;
}

#team-cpt .meta-th,
#register-cpt .meta-th {
	font-weight: bold;
	margin-bottom: 10px;
}

#team-cpt .meta-td input,
#register-cpt .meta-td input {
	width: 90%;
}

#mail-cpt .meta-row {
	display: block;
	margin-bottom: 20px;
}

#mail-cpt .meta-th {
	font-weight: bold;
	margin-bottom: 10px;
}

.mail-columns-2 {
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding-bottom: 30px;
}